<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hurricanes!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
    

<body>
  <div class="container text-center">
    <h1 class="jumbotron">Costa Rica Weather</h1>
    <div class= "row">

         <!-- write a for loop -->
          {% for city in city_weather %}
          <div class="col-lg-4">
              <div class="card" style="width: 20rem;">
                  <div class="card-body">
                    <h2 class="card-title">{{ city.location }}</h2>
                    <h4 class="card-subtitle mb-2 text-muted">Water Temp: {{ city.water_temp }}</h4>
                    <h4 class="card-subtitle mb-2 text-muted">Air Temp: {{ city.air_temp }}</h4>
                    <h4 class="card-subtitle mb-2 text-muted">Waves Height: {{ city.wave_height }}</h4>
                    <p  class="card-text">Click <a href= {{city.url}} >here</a> for more info!</p>
                  </div>
              </div>
          </div>
          {% endfor %}

    </div>
  </div>
</body>

</html>

